{% extends 'base.html' %}
{% block conteudo %}
  <main role="main" class="jumbotron">
    <div align="center" class="container">    
      <h1>Investimentos Ademilar</h1>
      <img id = "imagem" src="../static/siteProfissional.png" width="100" height="100" alt="My image" ><br><p> Compra imóveis.</p>      
      <p> Reformar.</p>      
      <p> Construir.</p>      
      <p> Investir.</p>      
      <p> Garantir o futuro dos filhos.</p>      
      <p> Quitar financiamento.</p>      
      <p> Aposentadoria.</p>    
    </div>
  </main>   
  <main role="main" class="jumbotron">
    <div align="center" class="container">    
      <h1>Ademimotors</h1>
      <img id = "imagem" src="../static/consultoria.png" width="100" height="100" alt="My image" ><br><p> Carros.</p>      
      <p> Navios.</p>      
      <p> Lanchas.</p>      
      <p> Aviões.</p>      
      <p> Máquinas Agrícolas.</p>      
    </div>
  </main>  
{% endblock %}