{% extends 'base.html' %}
{% block conteudo %}
  <main role="main" class="jumbotron">
    <div  align="center" class="container">    
      <h1>MISSÃO</h1>
      <img id = "imagem" src="../static/missao.png" width="100" height="100" alt="My image" ><br><p> Possibilitar a conquista planejada, livre de juros de imóveis e automóveis, tanto para uso próprio quanto para investimentos</p>      
    </div>
  </main>  
  <main role="main" class="jumbotron">
    <div  align="center" class="container">    
      <h1>VISÃO</h1>
      <img id = "imagem" src="../static/visao.png" width="100" height="100" alt="My image" ><br><p> Ser referencia em investimentos em cotas para consórcio de imóveis em todo o Brasil e ser a maior administradora de consórcio do país, tendo foco na excelência do atendimento aos clientes parceiros e investidores e o comprometimento junto a eles.</p>      
    </div>
  </main>  
  <main role="main" class="jumbotron">
    <div  align="center" class="container">    
      <h1>VALORES</h1>
      <img id = "imagem" src="../static/valores.png" width="100" height="100" alt="My image" ><br><p> Fundada em 1991, Somos mais de 14 bilhões em créditos comercializados e mais de 60 mil investidores satisfeitos e realizados. <br>
Postura ética e humana. <br>
Segurança, credibilidade e solidez. <br>
100% fiscalizada pelo banco central do Brasil desde o inicio das atividades.</p>      
    </div>
  </main>    
{% endblock %}